/* footer */
.footer {
  display: grid;
  padding-bottom: 40px;
  justify-content: space-between;
  background-color: #00a6edff;
}

.footer_p { 
  color: white;
}

.footer_logo {
  margin: 30px;
  height: 45px;
  margin-bottom: 30px;
}

/* navigation */
.nav_list {
  list-style: none;
  display: grid;
}
.nav_list_li {
  display: flex;
  align-items: center;
  justify-content: left;
  list-style: none;
}
.nav_button {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--honey-yellow);
  color: var(--white);
}
.nav_button:hover {
  background-color: var(--dark-pastel-green);
  color: white;
}
.nav_button_img {
  height: 40px;
  
}
.nav_profile_button {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

