.comment_li {
  background-color: var(--grey);
  display: grid;
  justify-items: left;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 30px;
  padding-right: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.comment_body {
    margin: 0px;
  padding: 0px;
}
.comment_author,
.comment_posted,
.comment_likes {
  font-size: 0.9em;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

.comment_footer {
  margin-top: 10px;
  display: flex;
}

.comment_notification {
  background-color: var(--red-orange-color-wheel);
  color: white;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 10px;
  top: 15px;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: 700;
}

.comment_notification:hover {
background-color: var(--honey-yellow);
}
